#signup-btn{
    background-color: var(--main-color);
    color: var(--WHITE);
    text-transform: capitalize;
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    transition: all 0.3s ease;
    border-radius: 4rem;
}


#signup-btn:hover{
    opacity: 0.75;
}

